.e1 div {
	width: 100px;
	height: 100px;
	background-color: #eee;
	float: left;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	box-shadow: -7px -3px 1px 0 red, 7px 3px 1px 0 royalblue;
	counter-increment: cunter;
	position: relative;
	margin: 50px 0px;
	text-align: center;
	margin-right: 20px;
}

.e1 div::before {
	content: counter(cunter);
	background-color: black;
	color: white;
	font-size: 30px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	position: absolute;
	top: -18px;
	left: 30px;
}

.e1 div::after {
	content: "Element";
	position: absolute;
	bottom: 47px;
	right: 20px;
}

.e2 div {
	width: 100px;
	height: 100px;
	position: relative;
	top: 292px;
	left: 50%;
	background-color: #eee;
	border-radius: 5px 57px 5px 57px;
	-webkit-border-radius: 5px 57px 5px 57px;
	-moz-border-radius: 5px 57px 5px 57px;
	-ms-border-radius: 5px 57px 5px 57px;
	-o-border-radius: 5px 57px 5px 57px;
	box-shadow: -1px -1px 7px 3px #000000b3 inset;
	border-top-left-radius: 7px 15px;
	border-bottom-right-radius: 15px 7px;
	margin-bottom: 50px;
}

.e3 {
	width: 550px;
	margin: auto;
	margin-top: 316px;
	padding: 0;
	position: relative;
}

.e3::before {
	content: " ";
	width: 2px;
	height: 250px;
	background-color: #03a9f4f7;
	position: absolute;
	top: 20px;
	left: 271px;
}

.e3::after {
	content: "Or";
	width: 40px;
	padding: 10px 0px;
	background-color: #03a9f4f7;
	color: white;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	top: 123px;
	left: 251px;
	position: absolute;
	text-align: center;
	font-size: 20px;

}

.e3 div {
	background-color: #eee;
	float: left;
	width: calc((100% - 4*20px) /2);
	height: 250px;
	margin: 20px;
	position: relative;
	text-align: center;
	font-size: 30px;
}

.e3 div::before {
	content: attr(data-text);
	background-color: #80808080;
	width: 81%;
	padding: 78.17px 0;
	position: absolute;
	bottom: 10px;
	right: 23px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.e3 div::after {
	content: attr(data-qalete);
	position: absolute;
	width: 81%;
	left: 24px;
	top: 10px;
	background-color: #03a9f4f7;
	color: white;
}