* {
    box-sizing: border-box;
}

.grid {
    background-color: #ddd;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.grid div {
    background-color: white;
    border-bottom: 2px solid red;
    padding: 5px;
    position: relative;
}

.grid div::before {
    content: "";
    position: absolute;
    background-color: #9e9e9e;
    padding: 10px 2.5px;
    bottom: 10px;
    right: 12px;
    border-radius: 3px 3px 1px 1px;
    -webkit-border-radius: 3px 3px 1px 1px;
    -moz-boer-radius: 3px 3px 1px 1px;
    -ms-border-radius: 3px 3px 1px 1px;
    -o-border-radius: 3px 3px 1px 1px;
    border-bottom-left-radius: 3px 20px;
    border-bottom-right-radius: 3px 20px;


}

.grid div::after {
    content: "";
    position: absolute;
    background-color: #9e9e9e;
    padding: 10px 2.5px;
    bottom: 10px;
    right: 4px;
    border-radius: 3px 3px 1px 1px;
    -webkit-border-radius: 3px 3px 1px 1px;
    -moz-border-radius: 3px 3px 1px 1px;
    -ms-border-radius: 3px 3px 1px 1px;
    -o-border-radius: 3px 3px 1px 1px;
    border-bottom-left-radius: 3px 20px;
    border-bottom-right-radius: 3px 20px;
    transform: rotate(10deg);

}

.grid div .p1 {
    font-weight: bold;
}

.grid div h5 {
    color: #9e9e9e;
}

.grid .one {
    grid-area: 1/1/2/3;
}

/* .grid .two {
	grid-area: 1/3/2/4;
} */
.grid .three {
    grid-area: 1/4/6/5;
    background: black;
    color: white;
}

.grid .four {
    grid-area: 3/1/6/2;
}

.grid .five {
    grid-area: 3/2/4/4;
    background-color: black;
    color: white;
}

.grid .six {
    grid-area: 5/2/6/4;
}

.grid .seven {
    grid-area: 7/1/8/2;
}

.grid .eight {
    grid-area: 7/2/8/3;
    background-color: black;
    color: white;
}

.grid .nine {
    grid-area: 7/3/8/4;
}

.grid .ten {
    grid-area: 7/4/8/5;
}